footer {
  .heart-icon {
    -webkit-animation: pulse 1s ease-in-out infinite;
    animation: pulse 1s ease-in-out infinite;
    color: #e31b23;
    margin: 0 5px;
    transition: all ease-in-out 0.7s;
  }
}
